---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="min-h-[100vh] bg-black flex justify-center items-center text-white text-3xl">
		<h1>
			Lo sentimos, Estamos actualizando la página
		</h1>
	</main>
</Layout>